:root {
	--primary: #192824 !important;
	--cottoncandy: #ffc5f6ff !important;
	--background: #192824 !important;
	--nadeshikopink: #feb1ccff !important;
	--salmonpink: #fd9ea5ff !important;
	--sandybrown: #ff9c55 !important;
	--tartorange: #ff5555 !important;
}


.project-title{
    font-family: "Rubik Mono One", sans-serif; 
}
.card h2 {
	font-family: "Rubik Mono One", sans-serif;
	font-size: 30px;
	text-align: center;
	letter-spacing: 1px;
	margin-bottom: 10px;
}
@keyframes animated-border {
	0% {
	  box-shadow: 0 0 0 2px var(--salmonpink);
	}
	80% {
	   box-shadow: 0 0 0 8px var(--sandybrown);
	}
  }

img:hover {
	animation: animated-border 2s infinite !important;
}
